
.h1center {
    display: flex; 
    position: relative;
    justify-content: center;
    margin-top: 1%;
    color: rgb(234, 0, 0);
    font-family: 'Arial', sans-serif;
    font-size: 100em;
    animation: slideIn 2s ease-out;
    background: linear-gradient(8000deg, #000000,rgb(41, 20, 20), #620303  );
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
    font-size: 1em;
    width: 400px !important;
    height: 60px !important;
    left: 37%;
    border-radius:300px;
border: 1px solid tomato;


}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


    
   