
.h1center {
    display: flex; 
    position: relative;
    justify-content: center;
    margin-top: 1%;
    color: rgb(234, 0, 0);
    font-family: 'Arial', sans-serif;
    font-size: 100em;
    animation: slideIn 2s ease-out;
    background: linear-gradient(8000deg, #000000,rgb(41, 20, 20), #620303  );
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
    font-size: 1em;
    width: 400px !important;
    height: 60px !important;
    left: 37%;
    border-radius:300px;
border: 1px solid tomato;
text-decoration: none;

}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
   

.container a{
  text-decoration: none;
 color: black;
 cursor: pointer;
}


/* From Uiverse.io by andrew-demchenk0 */
.gamedownloadbutton {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #17795E;
  background-color: #209978;
  overflow: hidden;
}

.gamedownloadbutton, .gamedownloadbutton__icon, .gamedownloadbutton__text {
  transition: all 0.3s;
}

.gamedownloadbutton__text {
  transform: translateX(22px);
  color: #fff;
  font-weight: 600;
}

.gamedownloadbutton__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #17795E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamedownloadbutton__svg {
  width: 20px;
  fill: #fff;
}

.gamedownloadbutton:hover {
  background: #17795E;
}

.gamedownloadbutton:hover .gamedownloadbutton__text {
  color: transparent;
}

.gamedownloadbutton:hover .gamedownloadbutton__icon {
  width: 148px;
  transform: translateX(0);
}

.gamedownloadbutton:active .gamedownloadbutton__icon {
  background-color: #146c54;
}

.gamedownloadbutton:active {
  border: 1px solid #146c54;
}

.container-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 28px;
  padding: 20px;
  margin-bottom: 130px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
}

.card-container {
  cursor: pointer;
}

.card {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: aliceblue !important;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h2 {
  margin: 16px 0;
  color: #ffffff;
  font-size: 1.2rem;
}

.card p {
  padding: 0 16px 16px;
  color: #555;
  font-size: 0.9rem;
}

/* Hover effect for game cards */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-color: #0099ff;
}